<h4>Dashboard</h4>
<div class="row">
    <div class="col-6 col-s-12 pl-1 mt-1">
        <div class="card ">
            <center>
                <h3>Income & Expense Graph</h3>
            </center>
            <canvas id="chartAll"></canvas>
            <div class="sub-total"></div>
        </div>
    </div>
    <div class="col-6 col-s-12 pl-1 mt-1" >
        <div class="card wallet ">
           <h3> <img src="../img/icons.png"  alt=""> <%=nama%></h3><br>
          <h3 class="saldo-bottom">Rp. <%= rupiah(saldo.wallet) %> <img src="../img/icons.png"  alt=""></h3>
        </div>
    </div>
  </div>
  <div class="row pb-2">
    <div class="col-6 col-s-12 pl-1">
      <div class="card mt-2">
        <h3>History</h3>
        <% history.forEach(val => { 
        if (val.username === username) {

        if (val.kategori === "expense") {
            var color = "background-color: red";
        }else{
            var color = "background-color: limegreen";
        }
        if(val.catatan === "Foods & Drinks"){
            var icon = 'fas fa-burger-soda fa-fw';
        } 
        else if (val.catatan === "Bills") {
            var icon = 'fas fa-file-invoice-dollar fa-fw';
        } 
        else if (val.catatan === "Transportation") {
            var icon = 'fas fa-shopping-cart fa-fw';
        } 
        else if (val.catatan === "Shopping") {
            var icon = 'fas fa-shopping-cart fa-fw';
        } 
        else if (val.catatan === "Health & Fitness") {
            var icon = 'fas fa-heartbeat fa-fw';
        } 
        else if (val.catatan === "Education") {
            var icon = 'fas fa-graduation-cap fa-fw';
        }else if(val.catatan === "Award"){
            var icon = 'fas fa-award fa-fw';
        } 
        else if (val.catatan === "Bonus") {
            var icon = 'fas fa-donate fa-fw';
        } 
        else if (val.catatan === "Salary") {
            var icon = 'fas fa-file-invoice fa-fw';
        } 
        else if (val.catatan === "Gift") {
            var icon = 'fas fa-gift fa-fw';
        } 
        else if (val.catatan === "Sale") {
            var icon = 'fas fa-money-bill-wave fa-fw';
        } 
        else if (val.catatan === "Other Income") {
            var icon = 'fas fa-box fa-fw';
        } %>
        <div class="history">
          
          <table width="100%" >
            <tr>
              <td rowspan="2" width="70px">
                <i class="<%=icon%> img"></i>
              </td>
              <td width="200px"><span style="<%=color%>;"><%=val.catatan%></span></td>
              <td rowspan="2" align="right">
                <b>Rp. <%=rupiah(val.number)%></b>
              </td>
            </tr>
            <tr>
              <td><small><%=val.ket%></small></td>
            </tr>
          </table>
        </div>
        <% } 
          }) %>
      </div>
    </div>
    <div class="col-6 col-s-12">
      
    </div>
  </div>

<script>
  var ctx1 = document.getElementById("chartAll").getContext("2d");
  const data = {
      
    labels:<%- label%>,
    datasets: [{
      label: 'My First Dataset',
      data: <%- nilai%>,
      backgroundColor: [
        'rgb(204, 51, 255)',
        'rgb(252, 172, 25)',
        'rgb(255, 205, 86)',
        'rgb(52, 180, 235)',
        'rgb(52, 235, 95)',
        'rgb(162, 52, 235)'
      ],
      hoverOffset: 4
    }],
    options: {
        tooltips: {
                callbacks: {
                    label: function(tooltipItem, data) {
                        var dataset = data.datasets[tooltipItem.datasetIndex];
                        var labels = data.label[tooltipItem.index];
                        var currentValue = dataset.data[tooltipItem.index];
                        return labels+": "+currentValue+" %";
                        console,log(currentValue)
                    }
                }
            }
        }
  };
  const config = {
    type: 'doughnut',
    data: data,
  };
  const data1 = new Chart(ctx1,config);

</script>
    
  </div>	
<% if(msg.length !== 0){ %>
    <script>
        setTimeout(function(){
            swal({
            icon: 'success',
            title: '<%=msg%>',
            text: '<%=msg%>',
            closeOnClickOutside: false,
            buttons: false,
            timer: 2000
            }).then((value) =>{
                location='/dashboard';
            });
        });
    </script>
<% } %>