<div class="container">
    
    <!-- content -->
    <div class="row" >
        <!-- example 1 -->
        <div class="col-4 col-s-12">
            <div class="card">
                <div class="card-title">
                    Example 1
                </div>
                <p>
                    Nums = [2,7,11,15]<br>
                    Target = 13 <br>
                    <% if (hasil1.length !== 0) { %>
                        <%= hasil1 %> <br>
                        <%= ket1 %>
                    <% } %>
                </p>
                <a href="/two-sums/example1/13/[2,7,11,15]" class="btn btn-proses">
                    Proses
                </a>
                
            </div>
        </div>
        <!-- end example 1 -->
        <!-- exammple 2 -->
        <div class="col-4 col-s-12">
            <div class="card">
                <div class="card-title">
                    Example 2
                </div>
                <p>
                Nums = [3,2,4]<br>
                Target = 6 <br>
                <% if (hasil2.length !== 0) { %>
                    <%= hasil2 %> <br>
                    <%= ket2 %>
                <% } %>
                </p>
                <a href="/two-sums/example2/6/[3,2,4]" class="btn btn-proses">
                    Proses
                </a>
            </div>
        </div>
        <!-- end example 2 -->
        <!-- exammple 3 -->
        <div class="col-4 col-s-12">
            <div class="card">
                <div class="card-title">
                    Example 3
                </div>
                <p>
                Nums = [3,3]<br>
                Target = 6 <br>
                <% if (hasil3.length !== 0) { %>
                    <%= hasil3 %> <br>
                    <%= ket3 %>
                <% } %>
                </p>
                <a href="/two-sums/example3/6/[3,3]" class="btn btn-proses">
                    Proses
                </a>
            </div>
        </div>
        <!-- end example 3 -->
    </div>
    <!-- End Content -->
    
</div>